<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EMPLOYEE REGISTER</title>
</head>
<body>
    <h2>PRODUCTS</h2>
    <ul>
       {% for item in products %}
       <li>
        {{ item.name }} - RS {{ item.price }}
        <a href="{% url 'delete_product' item.id %}">DELETE</a> |
       </li>
       {% empty %}
       <li>No Products Yet</li>
       {% endfor %}
    </ul>

    <br>
    <a href="{% url 'product_list' %}">Add New Product</a>
</body>
</html>
